<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name="TestAll">
    <parameter name="browser"  value="chrome"/>
    <parameter name="pathToDriver"  value="C:\\PersonalDrivers\\chromedriver.exe"/>
    <parameter name="loginPageUrl"  value="https://www.w3schools.com"/>

        <!--"browser", "pathToDriver" Use one of parameters' set to run
        test with browser of your choice. Don't forgot to use a proper driver's directory!
             ===============================================================================
            "firefox", "C:\\PersonalDrivers\\geckodriver.exe"
            <parameter name="browser"  value="firefox"/>
            <parameter name="pathToDriver"  value="C:\\PersonalDrivers\\geckodriver.exe"/>
             ================================================================================
            "chrome", "C:\\PersonalDrivers\\chromedriver.exe"
            <parameter name="browser"  value="chrome"/>
            <parameter name="pathToDriver"  value="C:\\PersonalDrivers\\chromedriver.exe"/>
             ================================================================================
             "ie", "C:\\PersonalDrivers\\IEDriverServer.exe"
             <parameter name="browser"  value="ie"/>
             <parameter name="pathToDriver"  value="C:\\PersonalDrivers\\IEDriverServer.exe"/>

        -->

    <test name="OpenPageTest">
        <classes>
            <class name= "org.courses.tests.OpenPageTest" />
        </classes>
    </test>
</suite>

